.col-centered{
    float: none;
    margin: 0 auto;
}

.columns{
  height: auto;
  margin: 10px;
}

#mulitpleMovie{
  margin: 10px;
  border: solid grey 2px;
  padding: 20px;
  width: 400px;
  text-align: left;
}

#searchArea{
  margin: 20px;
  padding: 20px;
}

i{
  margin-top: 2px;
  margin-left: 10px;
}

*{
  font-family: 'Alegreya', serif;
}
