<h1>Movie Show Page</h1>
  <div class='container' ng-repeat='movie in movies'>
    <div>
      <h3> {{movie.Title}} </h3>
    <h5> {{movie.Year}} </h5>
  <!-- <img ng-src='{{movie.Poster}}'> -->

   <p>Starring: {{movie.Actors}}</p>
   <p>{{movie.Plot}}</p>
   <h3>Additional Details</h3>
   <h4>Released</h4>
   <p>{{movie.Released}}</p>
   <h4>Writer</h4>
   <p>{{movie.Writer}}</p>
   <h4>Director</h4>
   <p>{{movie.Director}}</p>
   <h4>Country</h4>
   <p>{{movie.Country}}</p>
   <h4>Language</h4>
   <p>{{movie.Language}}</p>
   <h4>Rated</h4>
   <p>{{movie.Rated}}</p>
   <h4>Runtime</h4>
   <p>{{movie.Runtime}}</p>
   <h4>Awards</h4>
   <p>{{movie.Awards}}</p>
   <h4>Metascore</h4>
   <p>{{movie.Metascore}}</p>
   <h4>IMDB Rating</h4>
   <p>{{movie.imdbRating}}</p>
   <h4>IMDB Votes</h4>
   <p>{{movie.imdbVotes}}</p>
</div>
</div>
