<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular IMBD App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.15/css/bulma.min.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app='IMBDApp'>
    <div class='hero' ng-controller="apiController">
      <div class='is-centered' id='searchArea'>
        <h1>Angular OMBd API Search</h1>
        <br>
        <h4>Enter a movie by title:</h4>
        <form ng-submit='submitPost()'>
        <input type="text" ng-model='input' autofocus placeholder="Movie title">
        <br>
        <br>
        <a href='/#/{{input}}'>
          <button type="submit" class="btn btn-primary" ng-click='submitPost()'>Search<i class="fa fa-arrow-right"></i></button>

        </a>
        </form>
        </div>
        <hr>
        <div ng-view class='section' style='height: auto'>
        </div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
  <script type='text/javascript' src='js/app.js'></script>
  <script type='text/javascript' src='js/controllers/apiController.js'></script>
  <script type='text/javascript' src='js/controllers/showMovieController.js'></script>


  </body>
</html>
